.grid-1{
    position: fixed;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60% 40%;

}

.grid-2{
    top: 1000px;
    position: fixed;
}   

.flight-board{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    
   
    grid-row-start: 1;
    grid-row-end: 3;
}

.check-in {
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

.check-in h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}


.cancel-ticket {

    display: flex;
    
    justify-content: center;
  
}

.back-button-flights {
    margin-top: 20px;
    margin-left: 20px;
    background-color: blue;
    color:white;
    width: 80px;
    height: 25px;
}

.sub-check-in {
    border: 5px black solid;
    background-color: yellow;
    border-radius: 25px;
    padding: 25px;
    height: 150px;
    width: 250px;
    
}

.sub-cancel-ticket {
    border: 5px black solid;
   background-color: red;
   color: white;
   
    padding-bottom: 75px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    height: 150px;
    width: 250px;
}

.ticket-button {
    margin-top: 15px;
    margin-left: 25px;
    width: 120px;
    height: 25px;
    background-color: blue;
    color: white;
}

section {
    border: 5px black solid;
    background-color: greenyellow;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}

td {
    margin: 25px;
}