.login-wrapper{
   
    position: fixed;
    display: grid;
    top: 15px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    

}

.login-wrapper  h1 {

    position: relative;
    display: flex;
    
   

    justify-content: center;
}


.login-form {

    
}

.login-user{

position: fixed;
display: flex;
width: 100%;
top: 200px;
justify-content: center;
}

.login-pword {

    position: fixed;
    display: flex;
    width: 100%;
    top: 280px;
    justify-content: center;
}

.login-submit{
  
    position: fixed;
    display: flex;
    width: 100%;
    top: 400px;
    justify-content: center;
    margin-right: 10px;
}
.signup-button {
    position: fixed;
    display: flex;
    width: 100%;
    top: 450px;
    justify-content: center;
    margin-right: 10px;
}

.signup-submit{
  
    margin-top: 25px;
    justify-content: center;
}


label {

    font-size: larger;
    
}

input {
    height: 25px;
}

#login-btn {
    background-color: blue;
    width:120px;
    height: 25px;
    color: white;
    margin-bottom: 25px;
}

#login-btn:hover {
    background-color: yellow;
    color: black;
}


#login-render {
top: 0px;
bottom:0px;
left: 0px;
right: 0px;
display: grid;
flex-direction: flex-end;


}

.back-to-home {
position: fixed;
top: 5px;
right: 5px;   
background-color: blue;
color: white;
 
    width:100px;
    height: 25px;
    


}

.back-to-home:hover {
    background-color: yellow;
    color: black;
}

#sign-up-but {
  background-color: aqua;
  width:120px;
  height: 25px;
}

#sign-up-but:hover {
    background-color: yellow;
}

.signup-form {
    position: fixed;
  display: inline-grid;
  border: 5px black;
  background-color: white;
 
    width: 100%;
    top: 200px;
    justify-items: center;

}




.sub-login {
    margin-top: 100px;
    border: 5px black solid;
    height: 400px;
    background-color: white;
}