.login-wrapper{
    
    
 
    position: fixed;
    top: 100px;
    height: 500px;
    width: 100%;
    left: 0px;
   
    border: 3px red solid;
    
}



.login-wrapper  h1 {
    position: fixed;
    display: grid;
    top:0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: rgb(46, 36, 189);
    border: 3px blue solid;
    justify-content: center;
    align-items: center;
  
}

.form-buttons {
    display: flex;
    margin: 10px;
    width: 100px;
   justify-content: flex-start;
    
}

#login-btn {
   
    background-color: blue;
    color:white;
    position: relative;
    top: 21px;
    width:80px;
    left: -45px;
    margin-right: 15px;
}

#signup {
    background-color: aqua;
    position: relative;
    width:80px;
    left: 35px;
    margin-left: 15px;
}


.login-form {
   
    flex-direction: column;
    flex-wrap: nowrap;
    
    border: 5px green solid;
    align-items: center;
    justify-content: center;
    
    height: 300px;
    
}

label {
    position: relative;
  
    padding: 20px;
    font-size: larger;
    
}

input {
    padding: 15px;
}


#login-render {
top: 0px;
bottom:0px;
left: 0px;
right: 0px;
display: grid;
flex-direction: flex-end;


}

.back-to-home {
   
 
    width:80px;
    
border: 6px coral solid;

}