.login-wrapper{
   
    position: fixed;
    display: grid;
    top: 15px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    

}

.login-wrapper  h1 {

    position: relative;
    display: flex;
    top: 100px;

    justify-content: center;
}


.login-form {

    
}

.login-user{

position: fixed;
display: flex;
width: 100%;
top: 200px;
justify-content: center;
}

.login-pword {

    position: fixed;
    display: flex;
    width: 100%;
    top: 280px;
    justify-content: center;
}

.login-submit{
  
    position: fixed;
    display: flex;
    width: 100%;
    top: 400px;
    justify-content: center;
}


label {

    font-size: larger;
    
}

input {
    height: 25px;
}

#login-btn {
    background-color: magenta;
    width:80px;
}


#login-render {
top: 0px;
bottom:0px;
left: 0px;
right: 0px;
display: grid;
flex-direction: flex-end;


}

.back-to-home {
position: fixed;
top: 5px;
right: 5px;   
 
    width:80px;
    


}