.admin-dashboard {
    position: fixed;
    top: 85px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.flights {
    display: flex;
    border: 5px limegreen solid;
    grid-row-start: 1;
    grid-row-end: 5;
}

.admin-logout {
    float: right;
    margin-right: 15px;
    color: white;
    background-color: blue;
}

.createPage {
    position:fixed;
    right: 5px;
    top: 100px;
    float: right;
    margin-right: 15px;
    color: white;
    background-color: blue;
}