.admin-dashboard {
    position: fixed;
    top: 85px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
   
}

.flights {
 
    position: fixed;
    right: 0px;
    left: 0px;

    grid-row-start: 1;
    grid-row-end: 5;
}

.admin-logout {
    float: right;
    margin-right: 15px;
    color: white;
    background-color: blue;
}

.admin-logout:hover {
    background-color: yellow;
    color: black
}

.admin-logout:active {
    background-color: magenta;
    color: white;
}


.createPage {
    position:fixed;
    right: 5px;
    top: 100px;
    float: right;
    margin-right: 15px;
    color: white;
    background-color: blue;
}

.createPage:hover {
    background-color: yellow;
    color: black
}

.createPage:active {
    background-color: magenta;
    color: white;
}

.ticket-header {
    color: white;
}